# Práctica 1: Introducción a las bases de datos documentales con MongoDB.

In [2]:
# Imports
import pymongo
import json
from pprint import pprint

In [3]:
# Conexiones con MongoDB
db_name = "practica_1_mongodb"
db_uri = "mongodb://localhost:27017"
db_client = pymongo.MongoClient(db_uri)

# *Apartado A*

Crea una BBDD llamada “practica_1_mongodb”.

### Consulta en MongoDB

```mongodb
use practica_1_mongodb

### Consulta en Python

In [4]:
db = db_client[db_name]

### Explicación

# *Apartado B*

Crea las siguientes colecciones:  
a.	universidades  
b.	campus  
c.	grados  
d.	alumnos

### Consulta en MongoDB

```mongodb
db.createCollection("universidades")  
db.createCollection("campus")  
db.createCollection("grados")  
db.createCollection("alumnos")

### Consulta en Python

In [7]:
db.create_collection('universidades')
db.create_collection('campus')
db.create_collection('grados')
db.create_collection('alumnos')

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'practica_1_mongodb'), 'prueba_python')

### Explicación

# *Apartado C*

Abre el fichero “universidades.json” y carga línea a línea los documentos presentes.

### Consulta en MongoDB

```mongodb
db.universidades.insertOne({
    "_id": "URJC",
    "nombre": "Universidad Rey Juan Carlos",
    "ubicacion": "Madrid",
    "fundada_en": 1996
})  
  
db.universidades.insertOne({
    "_id": "CEU",
    "nombre": "Universidad CEU San Pablo",
    "ubicacion": "Madrid",
    "fundada_en": 1993
})  
  
db.universidades.insertOne({
    "_id": "UCM",
    "nombre": "Universidad Complutense de Madrid",
    "ubicacion": "Madrid",
    "fundada_en": 1822
})

### Consulta en Python

In [5]:
db.universidades.insert_one({
    "_id": "URJC",
    "nombre": "Universidad Rey Juan Carlos",
    "ubicacion": "Madrid",
    "fundada_en": 1996
})

db.universidades.insert_one({
    "_id": "CEU",
    "nombre": "Universidad CEU San Pablo",
    "ubicacion": "Madrid",
    "fundada_en": 1993
})

db.universidades.insert_one({
    "_id": "UCM",
    "nombre": "Universidad Complutense de Madrid",
    "ubicacion": "Madrid",
    "fundada_en": 1822
})

InsertOneResult('UCM', acknowledged=True)

### Explicación

# *Apartado D*

Abre el fichero “campus.json” y carga de una sola vez todos los documentos.

### Consulta en MongoDB

```mongodb
db.campus.insertMany([
    {
        "_id": "URJC_MOSTOLES",
        "nombre": "Campus de Móstoles",
        "ubicacion": "Móstoles, Madrid",
        "universidad_id": "URJC"
    },
    {
        "_id": "URJC_ALCORCON",
        "nombre": "Campus de Alcorcón",
        "ubicacion": "Alcorcón, Madrid",
        "universidad_id": "URJC"
    },
    {
        "_id": "UCM_MADRID",
        "nombre": "Campus de Moncloa",
        "ubicacion": "Madrid",
        "universidad_id": "UCM"
    },
    {
        "_id": "CEU_BOADILLA",
        "nombre": "Campus de Montepríncipe",
        "ubicacion": "Boadilla del Monte, Madrid",
        "universidad_id": "CEU"
    },
    {
        "_id": "CEU_MADRID",
        "nombre": "Campus de Madrid",
        "ubicacion": "Madrid",
        "universidad_id": "CEU"
    }
])

### Consulta en Python

In [6]:
db.campus.insert_many([
    {
        "_id": "URJC_MOSTOLES",
        "nombre": "Campus de Móstoles",
        "ubicacion": "Móstoles, Madrid",
        "universidad_id": "URJC"
    },
    {
        "_id": "URJC_ALCORCON",
        "nombre": "Campus de Alcorcón",
        "ubicacion": "Alcorcón, Madrid",
        "universidad_id": "URJC"
    },
    {
        "_id": "UCM_MADRID",
        "nombre": "Campus de Moncloa",
        "ubicacion": "Madrid",
        "universidad_id": "UCM"
    },
    {
        "_id": "CEU_BOADILLA",
        "nombre": "Campus de Montepríncipe",
        "ubicacion": "Boadilla del Monte, Madrid",
        "universidad_id": "CEU"
    },
    {
        "_id": "CEU_MADRID",
        "nombre": "Campus de Madrid",
        "ubicacion": "Madrid",
        "universidad_id": "CEU"
    }
])

InsertManyResult(['URJC_MOSTOLES', 'URJC_ALCORCON', 'UCM_MADRID', 'CEU_BOADILLA', 'CEU_MADRID'], acknowledged=True)

### Explicación

# *Apartado E*

Carga directamente el fichero JSON, tanto “grados.json” como “alumnos.json” con la utilidad para carga de ficheros JSON.  
Para hacer uso de la utilidad “mongoimport” debes ejecutarlo desde una terminal de Windows, no sirve la terminal de MongoDB Compass.

### Consulta en MongoDB

```shell
mongoimport --db practica_1_mongodb --collection alumnos --file "ruta\alumnos.json" --jsonArray
mongoimport --db practica_1_mongodb --collection grados --file "ruta\grados.json" --jsonArray

### Consulta en Python

In [8]:
def importacion_datos(ruta_coleccion, coleccion):
    
    with open(ruta_coleccion, "r", encoding="utf-8") as file:
        datos = json.load(file)
        db[coleccion].insert_many(datos)
        #db.coleccion.insert_many(datos) # ESTO NO SIRVE PARA HACERLO DINAMICO
        print(f"Datos del fichero '{ruta_coleccion}' importados correctamente en la coleccion '{coleccion}'")

In [9]:
ruta_coleccion_alumnos = "alumnos.json"
ruta_coleccion_grados = "grados.json"

In [11]:
importacion_datos(ruta_coleccion_alumnos, "alumnos_2")
importacion_datos(ruta_coleccion_grados, "grados_2")

Datos del fichero 'alumnos.json' importados correctamente en la coleccion 'alumnos_2'
Datos del fichero 'grados.json' importados correctamente en la coleccion 'grados_2'

### Explicación

# *Apartado F*

Realiza una selección de todas las universidades.

### Consulta en MongoDB

```mongodb
db.universidades.find()  
db.universidades.find().pretty()

### Consulta en Python

In [12]:
documentos = db.universidades.find()
for documento in documentos:
    print(documento)

{'_id': 'URJC', 'nombre': 'Universidad Rey Juan Carlos', 'ubicacion': 'Madrid', 'fundada_en': 1996}
{'_id': 'CEU', 'nombre': 'Universidad CEU San Pablo', 'ubicacion': 'Madrid', 'fundada_en': 1993}
{'_id': 'UCM', 'nombre': 'Universidad Complutense de Madrid', 'ubicacion': 'Madrid', 'fundada_en': 1822}

In [13]:
from pprint import pprint

documentos = db.universidades.find()

for documento in documentos:
    pprint(documento)

{'_id': 'URJC',
 'fundada_en': 1996,
 'nombre': 'Universidad Rey Juan Carlos',
 'ubicacion': 'Madrid'}
{'_id': 'CEU',
 'fundada_en': 1993,
 'nombre': 'Universidad CEU San Pablo',
 'ubicacion': 'Madrid'}
{'_id': 'UCM',
 'fundada_en': 1822,
 'nombre': 'Universidad Complutense de Madrid',
 'ubicacion': 'Madrid'}

### Explicación

# *Apartado G*

Modifica la edad del alumno con el DNI “34567890X”. La nueva edad será 23 años.

### Consulta en MongoDB

```mongodb
db.alumnos.updateOne(  
    { dni: "34567890X" },  // Filtro para encontrar al alumno por DNI  
    { $set: { edad: 23 } }  // Operador para establecer la nueva edad  
)

### Consulta en Python

In [14]:
db.alumnos.update_one(
    { "dni": "34567890X" },
    { "$set": { "edad": 23 } }
)

UpdateResult({'n': 1, 'nModified': 0, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

### Explicación

# *Apartado H*

Añade al alumno con ID “10002” el grado “"UCM_MADRID_G1".

### Consulta en MongoDB

```mongodb
db.alumnos.updateOne(  
    { _id: 10002 },  // Filtro para encontrar al alumno por ID  
    { $push: { grado_ids: "UCM_MADRID_G1" } }  // Añadir el nuevo grado al array  
)

### Consulta en Python

In [15]:
db.alumnos.update_one(
    { "_id": 10002 },
    { "$push": { "grado_ids": "UCM_MADRID_G1" } }
)

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

### Explicación

# *Apartado I*

Realiza una selección de aquellos alumnos que tengan una edad igual o inferior a 20 años.

### Consulta en MongoDB

```mongodb
db.alumnos.find({ edad: { $lte: 20 } }).pretty()

### Consulta en Python

In [16]:
documentos = db.alumnos.find({ "edad": { "$lte": 20 } })

for documento in documentos:
    pprint(documento)

{'_id': 10001,
 'apellidos': 'Martínez García',
 'dni': '12345678Z',
 'edad': 20,
 'grado_ids': ['URJC_MOSTOLES_G1', 'URJC_MOSTOLES_G2'],
 'nombre': 'Laura'}
{'_id': 10005,
 'apellidos': 'López Díaz',
 'dni': '56789012V',
 'edad': 19,
 'grado_ids': ['URJC_ALCORCON_G1', 'UCM_MADRID_G2'],
 'nombre': 'María'}

### Explicación

# *Apartado J*

Ahora, queremos que se muestren aquellos alumnos que sean mayores que 20 años y que solo estudien un grado.  
Selecciona para la salida únicamente los campos “edad”, “dni” y “grados_ids”.  
Además, ordena el resultado de menor a mayor edad.

### Consulta en MongoDB

```mongodb
db.alumnos.find(  
    {  
        edad: { $gt: 20 }, 
        grado_ids: { $size: 1 }  
    },  
    {  
        edad: 1, dni: 1, grado_ids: 1, _id: 0  
    }  
).sort({ edad: 1 }).pretty()  // Ordenar por edad de menor a mayor

### Consulta en Python

In [17]:
documentos = db.alumnos.find(
    {
        "edad": { "$gt": 20 },
        "grado_ids": { "$size": 1 }
    },
    {
        "edad": 1, "dni": 1, "grado_ids": 1, "_id": 0
    }
).sort("edad", 1)

In [18]:
for documento in documentos:
    pprint(documento)

{'dni': '34567890X', 'edad': 23, 'grado_ids': ['UCM_MADRID_G1']}
{'dni': '45678901W', 'edad': 23, 'grado_ids': ['CEU_BOADILLA_G1']}

### Explicación

# *Apartado K*

Realiza una join entre la colección de alumnos y la de grados. El resultado a devolver por parte del alumno son los campos “edad” y “dni”, y por parte del grado el “nombre", pero renombrando en la salida el nombre de la variable por “nombre_grado”.  
El resultado devuelto debe devolver dentro del documento de cada alumno los diferentes documentos de los grados asociados al alumno. Es decir, dentro del documento del alumno se devolverá un array con los nombres de los grados vinculados.

### Consulta en MongoDB

```mongodb
db.alumnos.aggregate([  
    {  
        $lookup: {  
            from: "grados",                   // Nombre de la colección a la que se hará el "join"  
            localField: "grado_ids",          // Campo en la colección "alumnos" que contiene los IDs de grados  
            foreignField: "_id",              // Campo en la colección "grados" que es el ID  
            as: "grados_info"                 // Nombre del campo resultante que contendrá los documentos "grados" coincidentes  
        }  
    },  
    {  
        $project: {  
            _id: 0,                           // Excluir el campo _id de la salida  
            edad: 1,                          // Incluir el campo "edad" del alumno  
            dni: 1,                           // Incluir el campo "dni" del alumno  
            "nombre_grado": "$grados_info.nombre"            // Incluir el campo "nombre" del grado pero cambiandole el nombre por "nombre_grado"
        }  
    }  
]).pretty()

### Consulta en Python

In [28]:
pipeline = [
    {
        "$lookup": {
            "from": "grados",
            "localField": "grado_ids",
            "foreignField": "_id",
            "as": "grados_info"
        }
    },
    {
        "$project": {
            "_id": 0,
            "edad": 1,
            "dni": 1,
            "nombre_grado": "$grados_info.nombre"
        }
    }
]

# Ejecutar el pipeline
documentos = db.alumnos.aggregate(pipeline)

for documento in documentos:
    pprint(documento)

{'dni': '12345678Z',
 'edad': 20,
 'nombre_grado': ['Grado en Ingeniería Informática',
                  'Grado en Administración y Dirección de Empresas']}
{'dni': '23456789Y',
 'edad': 22,
 'nombre_grado': ['Grado en Medicina', 'Grado en Derecho']}
{'dni': '34567890X', 'edad': 23, 'nombre_grado': ['Grado en Medicina']}
{'dni': '45678901W',
 'edad': 23,
 'nombre_grado': ['Grado en Comunicación Audiovisual']}
{'dni': '56789012V',
 'edad': 19,
 'nombre_grado': ['Grado en Enfermería', 'Grado en Psicología']}

### Explicación

# *Apartado L*

Realiza la misma consulta que en el apartado K, solo que en esta ocasión la salida debe ser un documento por cada combinación de alumno y grado.

### Consulta en MongoDB

```mongodb
db.alumnos.aggregate([  
    {  
        $lookup: {  
            from: "grados",                   // Nombre de la colección a la que se hará el "join"  
            localField: "grado_ids",          // Campo en la colección "alumnos" que contiene los IDs de grados  
            foreignField: "_id",              // Campo en la colección "grados" que es el ID  
            as: "grados_info"                 // Nombre del campo resultante que contendrá los documentos "grados" coincidentes  
        }  
    },
    {
        $unwind: "$grados_info"
    },
    {  
        $project: {  
            _id: 0,                           // Excluir el campo _id de la salida  
            edad: 1,                          // Incluir el campo "edad" del alumno  
            dni: 1,                           // Incluir el campo "dni" del alumno  
            "nombre_grado": "$grados_info.nombre"            // Incluir el campo "nombre" del grado pero cambiandole el nombre por "nombre_grado"
        }  
    }  
]).pretty()

### Consulta en Python

In [29]:
pipeline = [
    {
        "$lookup": {
            "from": "grados",                 
            "localField": "grado_ids",         
            "foreignField": "_id",              
            "as": "grados_info"                 
        }
    },
    {
        "$unwind": "$grados_info"               
    },
    {
        "$project": {
            "_id": 0,                           
            "edad": 1,                        
            "dni": 1,                         
            "nombre_grado": "$grados_info.nombre"  
        }
    }
]

# Ejecutar el pipeline
documentos = db.alumnos.aggregate(pipeline)

for documento in documentos:
    pprint(documento)

{'dni': '12345678Z',
 'edad': 20,
 'nombre_grado': 'Grado en Administración y Dirección de Empresas'}
{'dni': '12345678Z',
 'edad': 20,
 'nombre_grado': 'Grado en Ingeniería Informática'}
{'dni': '23456789Y', 'edad': 22, 'nombre_grado': 'Grado en Derecho'}
{'dni': '23456789Y', 'edad': 22, 'nombre_grado': 'Grado en Medicina'}
{'dni': '34567890X', 'edad': 23, 'nombre_grado': 'Grado en Medicina'}
{'dni': '45678901W',
 'edad': 23,
 'nombre_grado': 'Grado en Comunicación Audiovisual'}
{'dni': '56789012V', 'edad': 19, 'nombre_grado': 'Grado en Psicología'}
{'dni': '56789012V', 'edad': 19, 'nombre_grado': 'Grado en Enfermería'}

### Explicación

# *Apartado M*

Realiza una join entre las colecciones de alumnos, grados, campus y universidades.  
Selecciona únicamente los campos “dni” y “edad” de la colección de alumnos, el nombre del grado como “nombre_grado”, el nombre del campus como “nombre_campus” y el nombre de la universidad como “nombre_universidad”.  
El resultado debe generar un documento por cada combinación de alumno con grado.

### Consulta en MongoDB

```mongodb
db.alumnos.aggregate([
    {
        $lookup: {
            from: "grados",                   // Join con la colección "grados"
            localField: "grado_ids",          // Campo en la colección "alumnos" que contiene los IDs de grados
            foreignField: "_id",              // Campo en la colección "grados" que es el ID
            as: "grados_info"                 // Nombre del campo resultante que contendrá los documentos "grados" coincidentes
        }
    },
    {
        $unwind: "$grados_info"               // Descomponer el array resultante de "grados_info" en documentos individuales
    },
    {
        $lookup: {
            from: "campus",                   // Join con la colección "campus"
            localField: "grados_info.campus_id",  // Campo en la colección "grados_info" que contiene el ID del campus
            foreignField: "_id",              // Campo en la colección "campus" que es el ID
            as: "campus_info"                 // Nombre del campo resultante que contendrá los documentos "campus" coincidentes
        }
    },
    {
        $unwind: "$campus_info"               // Descomponer el array resultante de "campus_info" en documentos individuales
    },
    {
        $lookup: {
            from: "universidades",              // Join con la colección "universidades"
            localField: "campus_info.universidad_id",  // Campo en la colección "campus_info" que contiene el ID de la universidad
            foreignField: "_id",              // Campo en la colección "universidad" que es el ID
            as: "universidad_info"            // Nombre del campo resultante que contendrá los documentos "universidades" coincidentes
        }
    },
    {
        $unwind: "$universidad_info"          // Descomponer el array resultante de "universidad_info" en documentos individuales
    },
    {
        $project: {
            _id: 0,                           // Excluir el campo _id de la salida
            edad: 1,                          // Incluir el campo "edad" del alumno
            dni: 1,                           // Incluir el campo "dni" del alumno
            nombre_grado: "$grados_info.nombre",  // Renombrar el campo "nombre" del grado a "nombre_grado"
            nombre_campus: "$campus_info.nombre",  // Incluir el nombre del campus
            nombre_universidad: "$universidad_info.nombre"  // Incluir el nombre de la universidad
        }
    }
]).pretty()

### Consulta en Python

In [32]:
pipeline = [
    {
        "$lookup": {
            "from": "grados",                   
            "localField": "grado_ids",          
            "foreignField": "_id",              
            "as": "grados_info"                 
        }
    },
    {
        "$unwind": "$grados_info"               
    },
    {
        "$lookup": {
            "from": "campus",                   
            "localField": "grados_info.campus_id", 
            "foreignField": "_id",              
            "as": "campus_info"              
        }
    },
    {
        "$unwind": "$campus_info"               
    },
    {
        "$lookup": {
            "from": "universidades",              
            "localField": "campus_info.universidad_id",  
            "foreignField": "_id",              
            "as": "universidad_info"           
        }
    },
    {
        "$unwind": "$universidad_info"          
    },
    {
        "$project": {
            "_id": 0,                           
            "edad": 1,                          
            "dni": 1,                          
            "nombre_grado": "$grados_info.nombre",  
            "nombre_campus": "$campus_info.nombre",  
            "nombre_universidad": "$universidad_info.nombre"  
        }
    }
]

# Ejecutar el pipeline
documentos = db.alumnos.aggregate(pipeline)

for documento in documentos:
    pprint(documento)

{'dni': '12345678Z',
 'edad': 20,
 'nombre_campus': 'Campus de Móstoles',
 'nombre_grado': 'Grado en Administración y Dirección de Empresas',
 'nombre_universidad': 'Universidad Rey Juan Carlos'}
{'dni': '12345678Z',
 'edad': 20,
 'nombre_campus': 'Campus de Móstoles',
 'nombre_grado': 'Grado en Ingeniería Informática',
 'nombre_universidad': 'Universidad Rey Juan Carlos'}
{'dni': '23456789Y',
 'edad': 22,
 'nombre_campus': 'Campus de Madrid',
 'nombre_grado': 'Grado en Derecho',
 'nombre_universidad': 'Universidad CEU San Pablo'}
{'dni': '23456789Y',
 'edad': 22,
 'nombre_campus': 'Campus de Moncloa',
 'nombre_grado': 'Grado en Medicina',
 'nombre_universidad': 'Universidad Complutense de Madrid'}
{'dni': '34567890X',
 'edad': 23,
 'nombre_campus': 'Campus de Moncloa',
 'nombre_grado': 'Grado en Medicina',
 'nombre_universidad': 'Universidad Complutense de Madrid'}
{'dni': '45678901W',
 'edad': 23,
 'nombre_campus': 'Campus de Montepríncipe',
 'nombre_grado': 'Grado en Comunicación Audiovisual',
 'nombre_universidad': 'Universidad CEU San Pablo'}
{'dni': '56789012V',
 'edad': 19,
 'nombre_campus': 'Campus de Moncloa',
 'nombre_grado': 'Grado en Psicología',
 'nombre_universidad': 'Universidad Complutense de Madrid'}
{'dni': '56789012V',
 'edad': 19,
 'nombre_campus': 'Campus de Alcorcón',
 'nombre_grado': 'Grado en Enfermería',
 'nombre_universidad': 'Universidad Rey Juan Carlos'}

### Explicación